footer {
  margin-bottom: 4em;
  .footer-column {
    padding: 1em;
    h3 {
      font-size: 13pt;
      margin: 0 0 1em 0;
      @media (min-width: 750px) and (max-width: 1024px) {
        font-size: 1.35em;
      }
      @media (min-width: 1024px) {
        font-size: 1.35em;
      }
    }
    a {
      display: block;
      color: $textFootColor;
      font-size: 11pt;
      line-height: 2em;
      @media (min-width: 750px) and (max-width: 1024px) {
        //font-size: 12pt;
        line-height: 2.25em;
      }
      @media (min-width: 1024px) {
        font-size: 12pt;
        line-height: 2.25em;
      }
    }
    @media (min-width: 750px) and (max-width: 1024px) {
      width: 50%;
      margin-top: 4em;
    }
    @media (min-width: 1024px) {
      margin-top: 4em;
    }
    hr {
      margin-top: 44px;
      @media (min-width: 750px) {
        display: none;
      }
    }
    .contact-icon {
      margin-bottom: 1.5em;
      .contact-icon__item {
        font-size: 1.25em;
        font-weight: 400;
        line-height: inherit;
        color: #f3f3f3;
        background: $textColor;
        padding: 0.4em;
        border-radius: 0.35em;
        margin-right: 0.2em;
        opacity: 0.75;
        outline: none;
        @media (min-width: 1024px) {
          font-size: 1.5em;
        }
      }
    }
    p {
      color: $textFootColor;
      font-size: 11pt;
      line-height: 2em;
      @media (min-width: 1024px) {
        font-size: 13pt;
      }
    }
  }
  .footer-nav {
    padding-left: 2em;
    color: $textFootNavColor;
    ul {
      list-style: none;
      li {
        font-size: 11pt;
        margin-bottom: 0.75em;
        @media (min-width: 1024px) {
          font-size: 12pt;
          padding: 0 0.75em;
          border-left: 1px solid $textFootNavColor;
          &:first-child {
            border: none;
          }
        }
        a {
          color: $textFootNavColor;
        }
      }
      @media (min-width: 1024px) {
        display: flex;
        justify-content: center;

      }
    }
    @media (min-width: 750px) {
      text-align: center;
      padding-top: 25px;
    }
    @media (min-width: 1024px) {
      padding-top: 40px;
    }
  }
}